# Virtual environment
venv/

# Local secrets
.env
.env.*
!.env.example

# Python cache artifacts
__pycache__/
*.pyc

# Keep dataset folder structure, but ignore heavy parquet files
data/raw/*
!data/raw/en-pl/.gitkeep
data/processed/*
!data/processed/en-pl/.gitkeep
*.tsv
*.parquet


models/
!models/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

logs/*
!logs/.gitkeep

reports/*
!reports/.gitkeep
!reports/tokenizer_stats.md

tokenizers/*.txt
tokenizers/*.model
!tokenizers/.gitkeep

checkpoints/*
zips/*
tokenizers/*.vocab
!tokenizers/.gitkeep

.venv-bicleaner/*
